In [143]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.feature_extraction.text import CountVectorizer

 - Movies Genres Feature Enginnering 
 - Genome Tranformations 
 - Combining the data
 - Recommendation matrix

In [144]:
# Reading in the features 
movies_df1 = pd.read_csv('data/movies_cleaned.csv', low_memory = False)
genome_df = pd.read_csv('data/genome_clean.csv', low_memory = False)
movies_df1.head(2)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995

In [145]:
genome_df.head(2)

   tagId  tag  movieId  relevance
0      1  007        1    0.02500
1      1  007        2    0.03975

In [146]:
# Creating a function to clean up genres and get the data ready for word vecotrizer
def no_genres(i):
    if i == '(no genres listed)':
        return 'no_genres'
    else:
        return i

movies_df1['genres'] = movies_df1['genres'].apply(no_genres)
movies_df1[movies_df1['genres'].str.contains('no')].head(3)

       movieId                                  title     genres  year
16574    83773  Away with Words (San tiao ren) (1999)  no_genres  1999
16589    83829                  Scorpio Rising (1964)  no_genres  1964
16764    84768                      Glitterbug (1994)  no_genres  1994

In [147]:
movies_df1.head(3)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995

#### Movies Genres Feature Enginnering

In [148]:
# Create a decade feature for every movie, instead of a year

# Function to create take a floor round 
def to_decade(num):
    num_str = str(num)[:3] + '0'
    return num_str

# Assign the new feature
movies_df1['decade'] = movies_df1['year'].map(to_decade)
movies_df1.head(3)

,movieId,title,genres,year,decade
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,1990
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,1990
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,1990

In [149]:
# Creating dummy variables from decade
movies_df = pd.get_dummies(movies_df1, columns=['decade'], drop_first=False)
movies_df.head(3)

,movieId,title,genres,year,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,decade_1960,decade_1970,decade_1980,decade_1990,decade_2000,decade_2010
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,0,0,0,0,0,0,0,0,0,0,1,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,0,0,0,0,0,0,1,0,0

In [150]:
# Remove year from the dataframe, as it is not unnecessary
movies_df = movies_df.drop(columns='year',axis = 1 )

In [151]:
# Create features based each genre 

# instantiating count vectorizer
vectorizer = CountVectorizer(analyzer = "word",   
                             tokenizer = None,    
                             preprocessor = None, 
                             stop_words = None) 

# applying count vectorizer to yelp categories column
cat_vector = vectorizer.fit_transform(movies_df['genres']).toarray()

# merging results with original yelp data frame
cat_vector_df = pd.DataFrame(cat_vector, columns = vectorizer.get_feature_names())
cat_vector_df.shape

(27278, 32)

In [152]:
# Merging the vectorizer genres and the movie dataframes
movies_vecrt_df = pd.merge(left = movies_df, 
                            right = cat_vector_df, 
                            on=movies_df.index)

movies_vecrt_df.head(3)

,key_0,movieId,title,genres,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,...,imax,musical,mystery,no_genres,noir,romance,sci,thriller,war,western
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [153]:
# dropping the key_0 since it's unnecessary
movies_vecrt_df = movies_vecrt_df.drop(columns='key_0')

In [154]:
movies_vecrt_df.columns

Index(['movieId', 'title', 'genres', 'decade_1890', 'decade_1900',
       'decade_1910', 'decade_1920', 'decade_1930', 'decade_1940',
       'decade_1950', 'decade_1960', 'decade_1970', 'decade_1980',
       'decade_1990', 'decade_2000', 'decade_2010', '1970', '1990', '1991',
       '1993', '2002', '2003', '2008', '2010', '2011', '2014', 'action',
       'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary',
       'drama', 'fantasy', 'fi', 'film', 'horror', 'imax', 'musical',
       'mystery', 'no_genres', 'noir', 'romance', 'sci', 'thriller', 'war',
       'western'],
      dtype='object')

In [155]:
# Rename address scf-fi movies as the category was split up

movies_vecrt_df = movies_vecrt_df.drop(columns = 'fi', axis = 1)
movies_vecrt_df = movies_vecrt_df.rename(columns = {'sci': 'scifi'})

In [156]:
# Rename address scf-fi movies as the category was split up

movies_vecrt_df = movies_vecrt_df.drop(columns = 'film', axis = 1)
movies_vecrt_df = movies_vecrt_df.rename(columns = {'noir': 'film_noir'})

In [157]:
movies_vecrt_df.head(3)

,movieId,title,genres,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,...,imax,musical,mystery,no_genres,film_noir,romance,scifi,thriller,war,western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [158]:
movies_vecrt_df['decade'] = movies_df1['decade']

In [159]:
# Exporting dataframe for data exploration
movies_vecrt_df.to_csv('data/movie_features_eda.csv',index = False)

In [160]:
movies_vecrt_df = movies_vecrt_df.drop(columns=['genres','decade'])

### Genome Tranformations

In [161]:
genome_df.head(2)

   tagId  tag  movieId  relevance
0      1  007        1    0.02500
1      1  007        2    0.03975

In [162]:
genome_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11709768 entries, 0 to 11709767
Data columns (total 4 columns):
tagId        int64
tag          object
movieId      int64
relevance    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 357.4+ MB

In [163]:
genome_pivot_df = pd.pivot_table(genome_df, values = 'relevance' , index = 'movieId', columns = 'tag')

In [164]:
genome_pivot_df.head(3)

tag,007,007 (series),18th century,1920s,1930s,1950s,1960s,1970s,1980s,19th century,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02500,0.02500,0.05775,0.09675,0.14675,0.2170,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.1250,0.04150,0.01925,0.03625,0.07775,0.02300
2,0.03975,0.04375,0.03775,0.04800,0.11025,0.0725,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.1255,0.02250,0.01550,0.01475,0.09025,0.01875
3,0.04350,0.05475,0.02800,0.07700,0.05400,0.0685,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.1555,0.03675,0.01700,0.01950,0.09700,0.01850

In [165]:
# left joining the genome features to the movies dataframe
df = pd.merge(left = movies_vecrt_df, 
                right = genome_pivot_df, 
                left_on=movies_df['movieId'], 
                right_on = genome_pivot_df.index,
                how = 'left').drop('key_0', axis = 1)
df.head(3)

,movieId,title,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,decade_1960,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
0,1,Toy Story (1995),0,0,0,0,0,0,0,0,...,0.03950,0.01800,0.04575,0.03275,0.1250,0.04150,0.01925,0.03625,0.07775,0.02300
1,2,Jumanji (1995),0,0,0,0,0,0,0,0,...,0.04175,0.01925,0.01725,0.02425,0.1255,0.02250,0.01550,0.01475,0.09025,0.01875
2,3,Grumpier Old Men (1995),0,0,0,0,0,0,0,0,...,0.04150,0.02675,0.02775,0.03425,0.1555,0.03675,0.01700,0.01950,0.09700,0.01850

In [167]:
# resetting the index to title and removing columns that are not features of the movie
df.index = df['title']
df = df.drop(columns = ['title','movieId'])
df.head()

,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,decade_1960,decade_1970,decade_1980,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),0,0,0,0,0,0,0,0,0,0,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
Jumanji (1995),0,0,0,0,0,0,0,0,0,0,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
Grumpier Old Men (1995),0,0,0,0,0,0,0,0,0,0,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
Waiting to Exhale (1995),0,0,0,0,0,0,0,0,0,0,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,0,0,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

### Creating Recommendation Matrix

In [168]:
# transforming the data to sparse matrix
df_sparse = sparse.csr_matrix(df.fillna(0))

In [169]:
recommender = pairwise_distances(df_sparse, metric = 'cosine')

In [170]:
# Checking the shape to see the alignment of movies with other movies
recommender.shape

(27278, 27278)

In [171]:
# Creating a dataframe for the recommender
recommender_df = pd.DataFrame(recommender, index = df.index, columns = df.index)
recommender_df.head()

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Ants in the Pants (2000),Werner - Gekotzt wird später (2003),Brother Bear 2 (2006),No More School (2000),Forklift Driver Klaus: The First Day on the Job (2001),Kein Bund für's Leben (2007),"Feuer, Eis & Dosenbier (2002)",The Pirates (2014),Rentun Ruusu (2001),Innocence (2014)
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),0.000000,0.222372,0.317415,0.377871,0.335517,0.403743,0.364206,0.284261,0.480431,0.383067,...,0.935196,0.870393,0.770884,0.920632,0.935196,0.920632,0.920632,0.920632,1.0,0.887757
Jumanji (1995),0.222372,0.000000,0.352592,0.408555,0.344576,0.495507,0.393309,0.216954,0.382630,0.356511,...,1.000000,1.000000,0.823329,1.000000,1.000000,1.000000,1.000000,0.897999,1.0,0.855749
Grumpier Old Men (1995),0.317415,0.352592,0.000000,0.227010,0.146934,0.388472,0.200862,0.320446,0.401178,0.363687,...,0.777392,0.888696,0.921296,0.863681,0.888696,0.863681,0.863681,1.000000,1.0,1.000000
Waiting to Exhale (1995),0.377871,0.408555,0.227010,0.000000,0.264884,0.429322,0.177504,0.314381,0.446998,0.442683,...,0.775617,0.887808,0.920668,0.862594,0.887808,0.862594,0.862594,1.000000,1.0,1.000000
Father of the Bride Part II (1995),0.335517,0.344576,0.146934,0.264884,0.000000,0.483961,0.217024,0.352655,0.427506,0.421202,...,0.901292,0.901292,0.930203,0.879108,0.901292,0.879108,0.879108,1.000000,1.0,1.000000

In [172]:
# Creating a formula to search through the recommendation engine and provide the top 10 picks

def top_ten_recommendations(search):
    for title in movies_df[movies_df['title'].str.lower().str.contains(search.lower())]['title'].values:
        print(title)
#         print('Average Rating', df[df['title'] == title]['rating'].mean())
#         print('Number of Ratings', df[df['title']==title].shape[0])
        print(" ")
        print(recommender_df[title].sort_values()[1:11])
        print(" ")
        print(" ")

In [174]:
top_ten_recommendations('elf')

Twelfth Night (1996)

title
Much Ado About Nothing (1993)                             0.082512
Shakespeare in Love (1998)                                0.115493
Ideal Husband, An (1999)                                  0.124189
Hamlet (1996)                                             0.127558
Othello (1995)                                            0.128022
Importance of Being Earnest, The (2002)                   0.135214
William Shakespeare's Romeo + Juliet (1996)               0.137299
William Shakespeare's A Midsummer Night's Dream (1999)    0.145360
Emma (1996)                                               0.146353
Taming of the Shrew, The (1967)                           0.147844
Name: Twelfth Night (1996), dtype: float64


Me Myself I (2000)

title
Chaos Theory (2007)                  0.136084
Ghost Town (2008)                    0.146362
All I Want (Try Seventeen) (2002)    0.149280
Stranger than Fiction (2006)         0.149314
Family Man, The (2000)               0.150330
Defending Your Life (1991)           0.152225
Run Fatboy Run (2007)                0.155864
Tao of Steve, The (2000)             0.156253
Waking Up in Reno (2002)             0.158164
Dummy (2002)                         0.159212
Name: Me Myself I (2000), dtype: float64


Me, Myself & Irene (2000)

title
Anchorman: The Legend of Ron Burgundy (2004)    0.080208
Step Brothers (2008)                            0.083203
Dumb & Dumber (Dumb and Dumber) (1994)          0.087738
Brothers Solomon, The (2007)                    0.093978
Ladies Man, The (2000)                          0.096101
Beerfest (2006)                                 0.099706
Joe Dirt (2001)                                 0.100057
Meet the Parents (2000)                         0.101897
Dodgeball: A True Underdog Story (2004)         0.102898
Old School (2003)                               0.107909
Name: Me, Myself & Irene (2000), dtype: float64


Elf (2003)

title
Home Alone (1990)                                                    0.134407
Unaccompanied Minors (2006)                                          0.170180
How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)            0.171961
Christmas Vacation (National Lampoon's Christmas Vacation) (1989)    0.172887
Fred Claus (2007)                                                    0.175226
Santa Clause, The (1994)                                             0.180550
Daddy Day Care (2003)                                                0.182864
Mouse Hunt (1997)                                                    0.191540
Big Fat Liar (2002)                                                  0.194743
Kid, The (2000)                                                      0.195172
Name: Elf (2003), dtype: float64


Wilbur Wants to Kill Himself (2002)

title
My Life Without Me (2003)                                   0.126512
Savages, The (2007)                                         0.141598
Barbarian Invasions, The (Les invasions barbares) (2003)    0.143605
Look Both Ways (2005)                                       0.145695
Together (Tillsammans) (2000)                               0.148512
Happy-Go-Lucky (2008)                                       0.149190
About Schmidt (2002)                                        0.149731
Waitress (2007)                                             0.149809
Things You Can Tell Just by Looking at Her (2000)           0.151705
Pieces of April (2003)                                      0.152310
Name: Wilbur Wants to Kill Himself (2002), dtype: float64


Bill Cosby, Himself (1983)

title
Eddie Murphy Delirious (1983)                                        0.115180
Parenthood (1989)                                                    0.125375
Eddie Murphy Raw (1987)                                              0.130888
National Lampoon's Vacation (1983)                                   0.134438
Christmas Vacation (National Lampoon's Christmas Vacation) (1989)    0.143126
Mr. Mom (1983)                                                       0.146347
Christmas Story, A (1983)                                            0.152730
Richard Pryor Live on the Sunset Strip (1982)                        0.157896
Life with Father (1947)                                              0.158794
Uncle Buck (1989)                                                    0.159400
Name: Bill Cosby, Himself (1983), dtype: float64


Général Idi Amin Dada: A Self Portrait (Général Idi Amin Dada: Autoportrait) (1974)

title
Général Idi Amin Dada: A Self Portrait (Général Idi Amin Dada: Autoportrait) (1974)    0.000000
Winter Soldier (1972)                                                                  0.000000
Rain Over Santiago (Il pleut sur Santiago) (1976)                                      0.133975
Morning of the Earth (1971)                                                            0.183503
Connections (1978)                                                                     0.183503
First Strike (1979)                                                                    0.183503
Spend It All (1972)                                                                    0.183503
Let the Good Times Roll (1973)                                                         0.183503
People of the Wind (1976)                                                              0.183503
Godspeed You! Black Emperor (1976)                                                     0.183503
Name: Général Idi Amin Dada: A Self Portrait (Général Idi Amin Dada: Autoportrait) (1974), dtype: float64


And Starring Pancho Villa as Himself (2003)

title
Beaufort (2007)                                                                      0.105573
Paint It Yellow (Rang De Basanti) (2006)                                             0.105573
Robin-B-Hood (Bo bui gai wak) (2006)                                                 0.105573
Three Kingdoms: Resurrection of the Dragon (Saam gwok dzi gin lung se gap) (2008)    0.105573
Flandres (Flanders) (2006)                                                           0.105573
One 2 Ka 4 (2001)                                                                    0.105573
Fallen, The (2004)                                                                   0.105573
Lucky Ones, The (2008)                                                               0.105573
California Dreamin' (Nesfarsit) (2007)                                               0.105573
Warlords, The (Tau ming chong) (2007)                                                0.105573
Name: And Starring Pancho Villa as Himself (2003), dtype: float64


Self-Made Hero, A (Un héros très discret) (1996)

title
But Forever in My Mind (1999)                           0.0
Some Girl (1998)                                        0.0
Curtis's Charm (1995)                                   0.0
Julian Po (1997)                                        0.0
Khroustaliov, My Car! (Khrustalyov, mashinu!) (1998)    0.0
Dinner, The (Cena, La) (1998)                           0.0
In the Soup (1992)                                      0.0
Wittgenstein (1993)                                     0.0
Bernie (1996)                                           0.0
Bûche, La (1999)                                        0.0
Name: Self-Made Hero, A (Un héros très discret) (1996), dtype: float64


Los Angeles Plays Itself (2003)

title
Dungeon Masters, The (2008)                                    2.220446e-16
Blue Vinyl (2002)                                              2.220446e-16
Sex Positive (2008)                                            2.220446e-16
Alive Day Memories: Home from Iraq (Occupation Iraq) (2007)    2.220446e-16
Batman Unmasked: The Psychology of the Dark Knight (2008)      2.220446e-16
Touch the Sound: A Sound Journey with Evelyn Glennie (2004)    2.220446e-16
Taqwacore: The Birth of Punk Islam (2009)                      2.220446e-16
Steal This Film II (2007)                                      2.220446e-16
Protocols of Zion (2005)                                       2.220446e-16
Social Genocide (Memoria del saqueo) (2004)                    2.220446e-16
Name: Los Angeles Plays Itself (2003), dtype: float64


Every Man for Himself (Slow Motion) (Sauve qui peut (la vie)) (1980)

title
Life and Nothing But (Vie et rien d'autre, La) (1989)                  2.220446e-16
Space (1985)                                                           2.220446e-16
My Letter to George (Mesmerized) (1986)                                2.220446e-16
That Night in Varennes (Nuit de Varennes, La) (1982)                   2.220446e-16
Playing for Time (1980)                                                2.220446e-16
Rikyu (1989)                                                           2.220446e-16
Berta's Motives (Los motivos de Berta: Fantasía de Pubertad) (1985)    2.220446e-16
Speaking Parts (1989)                                                  2.220446e-16
The Diary of Anne Frank (1980)                                         2.220446e-16
Fresh Horses (1988)                                                    2.220446e-16
Name: Every Man for Himself (Slow Motion) (Sauve qui peut (la vie)) (1980), dtype: float64


Tyler Perry's I Can Do Bad All by Myself (2009)

title
Adrift in Tokyo (Tenten) (2007)                          0.0
Harishchandrachi Factory (2009)                          0.0
Gigante (2009)                                           0.0
Bonneville (2006)                                        0.0
Upswing (Nousukausi) (2003)                              0.0
12:08 East of Bucharest (A fost sau n-a fost?) (2006)    0.0
Entre Amigos (Planta 4ª) (2003)                          0.0
D.C.H. (Dil Chahta Hai) (2001)                           0.0
Heartbeats (Kohtaamisia) (2009)                          0.0
Perfume (2001)                                           0.0
Name: Tyler Perry's I Can Do Bad All by Myself (2009), dtype: float64


Before I Self Destruct (2009)

title
Vibrator (2003)                                        2.220446e-16
Marooned in Iraq (Gomgashtei dar Aragh) (2002)         2.220446e-16
Feel the Noise (2007)                                  2.220446e-16
Big Bang Love, Juvenile A (46-okunen no koi) (2006)    2.220446e-16
Adoration (2008)                                       2.220446e-16
King, The (2005)                                       2.220446e-16
Pellet (Bola, El) (2000)                               2.220446e-16
Twist (2003)                                           2.220446e-16
Huhwihaji Anha (No Regret) (2006)                      2.220446e-16
Last Mistress, The (vieille maîtresse, Une) (2007)     2.220446e-16
Name: Before I Self Destruct (2009), dtype: float64


Goalie's Anxiety at the Penalty Kick, The (Die Angst des Tormanns beim Elfmeter) (1972)

title
O Amor das Três Romãs (1979)                                  2.220446e-16
Dupes, The (Al-makhdu'un) (1973)                              2.220446e-16
Den sommeren jeg fylte 15 (1976)                              2.220446e-16
King Lear (Korol Lir) (1971)                                  2.220446e-16
Région centrale, La (1971)                                    2.220446e-16
Rage (1972)                                                   2.220446e-16
Age of the Medici, The (L'età di Cosimo de Medici) (1973)     2.220446e-16
Zorn's Lemma (1970)                                           2.220446e-16
Scarlet Letter, The (Der scharlachrote Buchstabe) (1973)      2.220446e-16
Sovereign's Company (1970)                                    2.220446e-16
Name: Goalie's Anxiety at the Penalty Kick, The (Die Angst des Tormanns beim Elfmeter) (1972), dtype: float64


Welfare (1975)

title
Juvenile Court (1973)                                                                                     2.220446e-16
Swastika (1973)                                                                                           2.220446e-16
Land of Silence and Darkness (Land des Schweigens und der Dunkelheit) (1971)                              2.220446e-16
People of the Wind (1976)                                                                                 2.220446e-16
Year Zero: The Silent Death of Cambodia (1979)                                                            2.220446e-16
I Am My Films - A Portrait of Werner Herzog (Was ich bin, sind meine Filme) (1979)                        2.220446e-16
History of Postwar Japan as Told by a Bar Hostess (Nippon Sengoshi - Madamu onboro no Seikatsu) (1970)    2.220446e-16
The Concert for Bangladesh (1972)                                                                         2.220446e-16
Grin Without a Cat, A (Fond de l'air est rouge, Le) (1977)                                                2.220446e-16
Act of Seeing with One's Own Eyes, The (1971)                                                             2.220446e-16
Name: Welfare (1975), dtype: float64


At Home by Myself... with You (2009)

title
Third Wheel, The (2002)                         0.0
Shrink Is In, The (2001)                        0.0
Love is Eternal While It Lasts (2004)           0.0
In July (Im Juli) (2000)                        0.0
If You Are the One (2008)                       0.0
Shoppen (2006)                                  0.0
Wedding Daze (2006)                             0.0
Your Life in 65 (Tu vida en 65') (2006)         0.0
Miguel and William (Miguel y William) (2007)    0.0
French Film (2008)                              0.0
Name: At Home by Myself... with You (2009), dtype: float64


Man Who Haunted Himself, The (1970)

title
Face to Face (Ansikte mot ansikte) (1976)    0.087129
Beast, The (La bête) (1975)                  0.166667
The Evictors (1979)                          0.166667
Night of Dark Shadows (1971)                 0.166667
Town That Dreaded Sundown, The (1976)        0.166667
Gemini (Sôseiji) (1999)                      0.166667
Hansel & Gretel (2007)                       0.166667
Blade of the Ripper (1971)                   0.166667
Desperation (2006)                           0.166667
Digging Up the Marrow (2014)                 0.166667
Name: Man Who Haunted Himself, The (1970), dtype: float64


Unintentional Kidnapping of Mrs. Elfriede Ott, The (Die Unabsichtliche Entführung der Frau Elfriede Ott) (2010)

title
Les invincibles (2013)                      2.220446e-16
I Feel Sleepy (2012)                        2.220446e-16
Corner Gas: The Movie (2014)                2.220446e-16
Klown: The Movie (Klovn) (2010)             2.220446e-16
Senotaji (2013)                             2.220446e-16
Mission London (2010)                       2.220446e-16
Vuonna 85 (2013)                            2.220446e-16
Let's Kill Ward's Wife (2014)               2.220446e-16
How to Meet Girls from a Distance (2012)    2.220446e-16
A Merry Friggin' Christmas (2014)           2.220446e-16
Name: Unintentional Kidnapping of Mrs. Elfriede Ott, The (Die Unabsichtliche Entführung der Frau Elfriede Ott) (2010), dtype: float64


Century of the Self, The (2002)

title
Dungeon Masters, The (2008)                                    2.220446e-16
Protocols of Zion (2005)                                       2.220446e-16
Blue Vinyl (2002)                                              2.220446e-16
Sex Positive (2008)                                            2.220446e-16
Alive Day Memories: Home from Iraq (Occupation Iraq) (2007)    2.220446e-16
Batman Unmasked: The Psychology of the Dark Knight (2008)      2.220446e-16
Touch the Sound: A Sound Journey with Evelyn Glennie (2004)    2.220446e-16
Taqwacore: The Birth of Punk Islam (2009)                      2.220446e-16
Steal This Film II (2007)                                      2.220446e-16
Social Genocide (Memoria del saqueo) (2004)                    2.220446e-16
Name: Century of the Self, The (2002), dtype: float64


Selfish Giant, The (2013)

title
Two Days, One Night (Deux jours, une nuit) (2014)                      0.168814
Oslo, August 31st (Oslo, 31. august) (2011)                            0.173098
Tyrannosaur (2011)                                                     0.175326
Fish Tank (2009)                                                       0.180171
4 Months, 3 Weeks and 2 Days (4 luni, 3 saptamâni si 2 zile) (2007)    0.180852
Mondays in the Sun (Lunes al sol, Los) (2002)                          0.185494
Kes (1969)                                                             0.187827
Half Nelson (2006)                                                     0.188844
Goodbye Solo (2008)                                                    0.190750
Noi the Albino (Nói albinói) (2003)                                    0.192833
Name: Selfish Giant, The (2013), dtype: float64


Me, Myself and Mum (Les garçons et Guillaume, à table!) (2013)

title
I Feel Sleepy (2012)                        2.220446e-16
Corner Gas: The Movie (2014)                2.220446e-16
Klown: The Movie (Klovn) (2010)             2.220446e-16
Senotaji (2013)                             2.220446e-16
Mission London (2010)                       2.220446e-16
Vuonna 85 (2013)                            2.220446e-16
Let's Kill Ward's Wife (2014)               2.220446e-16
How to Meet Girls from a Distance (2012)    2.220446e-16
A Merry Friggin' Christmas (2014)           2.220446e-16
Few Best Men, A (2011)                      2.220446e-16
Name: Me, Myself and Mum (Les garçons et Guillaume, à table!) (2013), dtype: float64


i hate myself :) (2013)

title
Other F Word, The (2011)                                            0.000000
Advanced Style (2014)                                               0.000000
(A)sexual (2011)                                                    0.000000
i hate myself :) (2013)                                             0.000000
Superheroes (2011)                                                  0.105573
The Floating Castle (2012)                                          0.133975
Sasha (Sascha) (2010)                                               0.133975
Electric Boogaloo: The Wild, Untold Story of Cannon Films (2014)    0.133975
Being Flynn (2012)                                                  0.133975
Le Week-End (2013)                                                  0.133975
Name: i hate myself :) (2013), dtype: float64


Life Itself (2014)

title
Brief History of Time, A (1991)                            0.102881
Jiro Dreams of Sushi (2011)                                0.105356
Indie Game: The Movie (2012)                               0.118128
Being Elmo: A Puppeteer's Journey (2011)                   0.119107
Tim's Vermeer (2013)                                       0.122068
Dear Zachary: A Letter to a Son About His Father (2008)    0.122956
Honest Liar, An (2014)                                     0.123288
Devil's Playground (2002)                                  0.124692
Stanley Kubrick: A Life in Pictures (2001)                 0.124899
Kid Stays in the Picture, The (2002)                       0.125228
Name: Life Itself (2014), dtype: float64


Elfie Hopkins: Cannibal Hunter (2012)

title
Children of the Corn: Genesis (2011)    0.0
Black Rock (2012)                       0.0
Horrible Way to Die, A (2010)           0.0
Rosewood Lane (2011)                    0.0
My Soul to Take (2010)                  0.0
Afflicted, The (2010)                   0.0
Rosemary's Baby (2014)                  0.0
Apparition, The (2012)                  0.0
Holding, The (2011)                     0.0
ATM (2012)                              0.0
Name: Elfie Hopkins: Cannibal Hunter (2012), dtype: float64


Get Yourself a College Girl (1964)

title
Bad Luck (Zezowate szczescie) (1960)                  2.220446e-16
Wrong Box, The (1966)                                 2.220446e-16
Happy End (1967)                                      2.220446e-16
Boeing, Boeing (1965)                                 2.220446e-16
Mondo Trasho (1969)                                   2.220446e-16
Kisses for My President (1964)                        2.220446e-16
Boy, Did I Get a Wrong Number! (1966)                 2.220446e-16
Boys' Night Out (1962)                                2.220446e-16
Hawks and Sparrows (Uccellacci e Uccellini) (1966)    2.220446e-16
Strange Bedfellows (1965)                             2.220446e-16
Name: Get Yourself a College Girl (1964), dtype: float64


Robin Williams: Weapons of Self Destruction (2009)

title
Bambou (2009)                                                                      2.220446e-16
Bill Maher: Victory Begins at Home (2003)                                          2.220446e-16
Leaning Tower, The (Kalteva torni) (2006)                                          2.220446e-16
Escuela de seducción (2004)                                                        2.220446e-16
Frank McKlusky, C.I. (2002)                                                        2.220446e-16
Ten Shrews, The (Kymmenen riivinrautaa) (2002)                                     2.220446e-16
Sexo, Amor e Traição (2004)                                                        2.220446e-16
Dating Games People Play (2005)                                                    2.220446e-16
Ratko: The Dictator's Son (National Lampoon's Ratko: The Dictator's Son) (2009)    2.220446e-16
Rock, Paper, Scissors: The Way of the Tosser (2007)                                2.220446e-16
Name: Robin Williams: Weapons of Self Destruction (2009), dtype: float64