In [106]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.feature_extraction.text import CountVectorizer

 - Movies Genres Feature Enginnering 
 - Genome Tranformations 
 - Combining the data
 - Recommendation matrix

In [107]:
# Reading in the features 
movies_df1 = pd.read_csv('data/movies_cleaned.csv', low_memory = False)
genome_df = pd.read_csv('data/genome_clean.csv', low_memory = False)
movies_df1.head(2)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995

In [108]:
genome_df.head(2)

   tagId  tag  movieId  relevance
0      1  007        1    0.02500
1      1  007        2    0.03975

In [109]:
# Creating a function to clean up genres and get the data ready for word vecotrizer
def no_genres(i):
    if i == '(no genres listed)':
        return 'no_genres'
    else:
        return i

movies_df1['genres'] = movies_df1['genres'].apply(no_genres)
movies_df1[movies_df1['genres'].str.contains('no')].head(3)

       movieId                                  title     genres  year
16574    83773  Away with Words (San tiao ren) (1999)  no_genres  1999
16589    83829                  Scorpio Rising (1964)  no_genres  1964
16764    84768                      Glitterbug (1994)  no_genres  1994

#### Movies Genres Feature Enginnering

In [110]:
# Create a decade feature for every movie, instead of a year

# Function to create take a floor round 
def to_decade(num):
    num_str = str(num)[:3] + '0'
    return num_str

# Assign the new feature
movies_df1['decade'] = movies_df1['year'].map(to_decade)
movies_df1.head(3)

,movieId,title,genres,year,decade
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,1990
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,1990
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,1990

In [111]:
# Creating dummy variables from decade
movies_df = pd.get_dummies(movies_df1, columns=['decade'], drop_first=False)
movies_df.head(3)

,movieId,title,genres,year,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,decade_1960,decade_1970,decade_1980,decade_1990,decade_2000,decade_2010
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,0,0,0,0,0,0,0,0,0,0,1,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,0,0,0,0,0,0,1,0,0

In [112]:
# Remove year from the dataframe, as it is not unnecessary
movies_df = movies_df.drop(columns='year',axis = 1 )

In [113]:
# Create features based each genre 

# instantiating count vectorizer
vectorizer = CountVectorizer(analyzer = "word",   
                             tokenizer = None,    
                             preprocessor = None, 
                             stop_words = None) 

# applying count vectorizer to yelp categories column
cat_vector = vectorizer.fit_transform(movies_df['genres']).toarray()

# merging results with original yelp data frame
cat_vector_df = pd.DataFrame(cat_vector, columns = vectorizer.get_feature_names())
cat_vector_df.shape

(27278, 32)

In [114]:
# Merging the vectorizer genres and the movie dataframes
movies_vecrt_df = pd.merge(left = movies_df, 
                            right = cat_vector_df, 
                            on=movies_df.index)

movies_vecrt_df.head(3)

,key_0,movieId,title,genres,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,...,imax,musical,mystery,no_genres,noir,romance,sci,thriller,war,western
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [115]:
# dropping the key_0 since it's unnecessary
movies_vecrt_df = movies_vecrt_df.drop(columns='key_0')

In [116]:
movies_vecrt_df.columns

Index(['movieId', 'title', 'genres', 'decade_1890', 'decade_1900',
       'decade_1910', 'decade_1920', 'decade_1930', 'decade_1940',
       'decade_1950', 'decade_1960', 'decade_1970', 'decade_1980',
       'decade_1990', 'decade_2000', 'decade_2010', '1970', '1990', '1991',
       '1993', '2002', '2003', '2008', '2010', '2011', '2014', 'action',
       'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary',
       'drama', 'fantasy', 'fi', 'film', 'horror', 'imax', 'musical',
       'mystery', 'no_genres', 'noir', 'romance', 'sci', 'thriller', 'war',
       'western'],
      dtype='object')

In [117]:
# Rename address scf-fi movies as the category was split up

movies_vecrt_df = movies_vecrt_df.drop(columns = 'fi', axis = 1)
movies_vecrt_df = movies_vecrt_df.rename(columns = {'sci': 'scifi'})

In [118]:
movies_vecrt_df.head(3)

,movieId,title,genres,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,...,imax,musical,mystery,no_genres,noir,romance,scifi,thriller,war,western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [119]:
movies_vecrt_df['decade'] = movies_df1['decade']

In [120]:
# Exporting dataframe for data exploration
movies_vecrt_df.to_csv('data/movie_features_eda.csv',index = False)

In [121]:
movies_vecrt_df = movies_vecrt_df.drop(columns=['genres','decade'])

### Genome Tranformations

In [122]:
genome_df.head(2)

   tagId  tag  movieId  relevance
0      1  007        1    0.02500
1      1  007        2    0.03975

In [123]:
genome_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11709768 entries, 0 to 11709767
Data columns (total 4 columns):
tagId        int64
tag          object
movieId      int64
relevance    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 357.4+ MB

In [124]:
genome_pivot_df = pd.pivot_table(genome_df, values = 'relevance' , index = 'movieId', columns = 'tag')

In [125]:
genome_pivot_df.head(3)

tag,007,007 (series),18th century,1920s,1930s,1950s,1960s,1970s,1980s,19th century,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02500,0.02500,0.05775,0.09675,0.14675,0.2170,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.1250,0.04150,0.01925,0.03625,0.07775,0.02300
2,0.03975,0.04375,0.03775,0.04800,0.11025,0.0725,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.1255,0.02250,0.01550,0.01475,0.09025,0.01875
3,0.04350,0.05475,0.02800,0.07700,0.05400,0.0685,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.1555,0.03675,0.01700,0.01950,0.09700,0.01850

In [126]:
# left joining the genome features to the movies dataframe
df = pd.merge(left = movies_vecrt_df, 
                right = genome_pivot_df, 
                left_on=movies_df['movieId'], 
                right_on = genome_pivot_df.index,
                how = 'left').drop('key_0', axis = 1)
df.head(3)

,movieId,title,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,decade_1960,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
0,1,Toy Story (1995),0,0,0,0,0,0,0,0,...,0.03950,0.01800,0.04575,0.03275,0.1250,0.04150,0.01925,0.03625,0.07775,0.02300
1,2,Jumanji (1995),0,0,0,0,0,0,0,0,...,0.04175,0.01925,0.01725,0.02425,0.1255,0.02250,0.01550,0.01475,0.09025,0.01875
2,3,Grumpier Old Men (1995),0,0,0,0,0,0,0,0,...,0.04150,0.02675,0.02775,0.03425,0.1555,0.03675,0.01700,0.01950,0.09700,0.01850

In [127]:
# Exporting data for segmentation analysis
df.to_csv('data/movie_features.csv')

In [128]:
# resetting the index to title and removing columns that are not features of the movie
df.index = df['title']
df = df.drop(columns = ['title','movieId'])
df.head()

,decade_1890,decade_1900,decade_1910,decade_1920,decade_1930,decade_1940,decade_1950,decade_1960,decade_1970,decade_1980,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),0,0,0,0,0,0,0,0,0,0,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
Jumanji (1995),0,0,0,0,0,0,0,0,0,0,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
Grumpier Old Men (1995),0,0,0,0,0,0,0,0,0,0,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
Waiting to Exhale (1995),0,0,0,0,0,0,0,0,0,0,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,0,0,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

### Creating Recommendation Matrix

In [129]:
# transforming the data to sparse matrix
df_sparse = sparse.csr_matrix(df.fillna(0))

KeyboardInterrupt:

In [ ]:
recommender = pairwise_distances(df_sparse, metric = 'cosine')

In [ ]:
# Checking the shape to see the alignment of movies with other movies
recommender.shape

In [ ]:
# Creating a dataframe for the recommender
recommender_df = pd.DataFrame(recommender, index = df.index, columns = df.index)
recommender_df.head()

In [ ]:
# Creating a formula to search through the recommendation engine and provide the top 10 picks

def top_ten_recommendations(search):
    for title in movies_df[movies_df['title'].str.lower().str.contains(search.lower())]['title'].values:
        print(title)
#         print('Average Rating', df[df['title'] == title]['rating'].mean())
#         print('Number of Ratings', df[df['title']==title].shape[0])
        print(" ")
        print(recommender_df[title].sort_values()[1:11])
        print(" ")
        print(" ")

In [132]:
top_ten_recommendations('friends')

Circle of Friends (1995)

title
Jane Eyre (1996)                  0.165904
Wuthering Heights (1992)          0.173668
84 Charing Cross Road (1987)      0.183957
This Is My Father (1998)          0.184824
Little Women (1994)               0.188010
Brooklyn (2015)                   0.192123
Waiting to Exhale (1995)          0.192582
Joy Luck Club, The (1993)         0.193194
Man Without a Face, The (1993)    0.195035
The Fault in Our Stars (2014)     0.196223
Name: Circle of Friends (1995), dtype: float64


Two Friends (1986)

title
Aviator's Wife, The (La femme de l'aviateur) (1981)    2.220446e-16
Reunion (1989)                                         2.220446e-16
Butterfly (1982)                                       2.220446e-16
Boris Godunov (1986)                                   2.220446e-16
Space (1985)                                           2.220446e-16
Boy in Blue, The (1986)                                2.220446e-16
Playing for Time (1980)                                2.220446e-16
Hide in Plain Sight (1980)                             2.220446e-16
The Diary of Anne Frank (1980)                         2.220446e-16
Hail Mary ('Je vous salue, Marie') (1985)              2.220446e-16
Name: Two Friends (1986), dtype: float64


Your Friends and Neighbors (1998)

title
Happiness (1998)                   0.092649
In the Company of Men (1997)       0.098282
Boogie Nights (1997)               0.116378
Sex, Lies, and Videotape (1989)    0.126141
Spanking the Monkey (1994)         0.126360
Short Cuts (1993)                  0.128022
Ice Storm, The (1997)              0.130214
Hurlyburly (1998)                  0.133132
Storytelling (2001)                0.135909
Roger Dodger (2002)                0.139895
Name: Your Friends and Neighbors (1998), dtype: float64


Friends & Lovers (1999)

title
Mo' Money (1992)                0.145998
200 Cigarettes (1999)           0.150789
54 (1998)                       0.162311
One Night Stand (1997)          0.162340
Pompatus of Love, The (1996)    0.166710
Pallbearer, The (1996)          0.167460
If Lucy Fell (1996)             0.169093
Feeling Minnesota (1996)        0.169317
I Like It Like That (1994)      0.171253
Naked in New York (1994)        0.172526
Name: Friends & Lovers (1999), dtype: float64


With Friends Like These... (1998)

title
Million to Juan, A (1994)                        2.220446e-16
Twenty Bucks (1993)                              2.220446e-16
Matrimonial Comedy (Komedia malzenska) (1994)    2.220446e-16
29th Street (1991)                               2.220446e-16
Foolish (1999)                                   2.220446e-16
Little Bit of Soul, A (1998)                     2.220446e-16
Fraternity Demon (1992)                          2.220446e-16
Grief (1993)                                     2.220446e-16
Mistress (1992)                                  2.220446e-16
I Shot a Man in Vegas (1995)                     2.220446e-16
Name: With Friends Like These... (1998), dtype: float64


Peter's Friends (1992)

title
Full Monty, The (1997)          0.144508
Bhaji on the Beach (1993)       0.147058
Cemetery Junction (2010)        0.151628
Best Man, The (1999)            0.152835
I'm Not Rappaport (1996)        0.153516
Little Voice (1998)             0.154012
Roommates (1995)                0.157421
Pompatus of Love, The (1996)    0.161778
Queens Logic (1991)             0.162936
Mumford (1999)                  0.164091
Name: Peter's Friends (1992), dtype: float64


Fox and His Friends (Faustrecht der Freiheit) (1975)

title
Merchant of Four Seasons, The (Händler der vier Jahreszeiten) (1972)    0.156795
Faces (1968)                                                            0.157138
Under the Sand (2000)                                                   0.183347
Ali: Fear Eats the Soul (Angst essen Seele auf) (1974)                  0.192061
Man of Marble (Czlowiek z Marmuru) (1977)                               0.195634
Camera Buff (Amator) (1979)                                             0.201515
Veronika Voss (Sehnsucht der Veronika Voss, Die) (1982)                 0.204787
Marriage of Maria Braun, The (Ehe der Maria Braun, Die) (1979)          0.204972
Night, The (Notte, La) (1960)                                           0.205231
Shadows (1959)                                                          0.206171
Name: Fox and His Friends (Faustrecht der Freiheit) (1975), dtype: float64


Four Friends (a.k.a. Georgia's Friends) (1981)

title
Aviator's Wife, The (La femme de l'aviateur) (1981)    2.220446e-16
Reunion (1989)                                         2.220446e-16
Butterfly (1982)                                       2.220446e-16
Boris Godunov (1986)                                   2.220446e-16
Space (1985)                                           2.220446e-16
Boy in Blue, The (1986)                                2.220446e-16
Playing for Time (1980)                                2.220446e-16
Hide in Plain Sight (1980)                             2.220446e-16
Hail Mary ('Je vous salue, Marie') (1985)              2.220446e-16
Lost Angels (1989)                                     2.220446e-16
Name: Four Friends (a.k.a. Georgia's Friends) (1981), dtype: float64


Best Friends (1982)

title
Break-Up, The (2006)                         0.157376
First Monday in October (1981)               0.164976
How Do You Know (2010)                       0.166440
Mr. Wonderful (1993)                         0.169806
Heartburn (1986)                             0.172312
Big Business (1988)                          0.173731
Continental Divide (1981)                    0.175638
Joe Somebody (2001)                          0.176806
Gross Anatomy (a.k.a. A Cut Above) (1989)    0.177241
Cousins (1989)                               0.178525
Name: Best Friends (1982), dtype: float64


Friends and Family (2001)

title
Bambou (2009)                                                                      2.220446e-16
Leaning Tower, The (Kalteva torni) (2006)                                          2.220446e-16
Escuela de seducción (2004)                                                        2.220446e-16
Frank McKlusky, C.I. (2002)                                                        2.220446e-16
Ten Shrews, The (Kymmenen riivinrautaa) (2002)                                     2.220446e-16
Sexo, Amor e Traição (2004)                                                        2.220446e-16
Dating Games People Play (2005)                                                    2.220446e-16
Ratko: The Dictator's Son (National Lampoon's Ratko: The Dictator's Son) (2009)    2.220446e-16
Rock, Paper, Scissors: The Way of the Tosser (2007)                                2.220446e-16
Cookout, The (2004)                                                                2.220446e-16
Name: Friends and Family (2001), dtype: float64


Just Between Friends (1986)

title
Aviator's Wife, The (La femme de l'aviateur) (1981)    2.220446e-16
Reunion (1989)                                         2.220446e-16
Butterfly (1982)                                       2.220446e-16
Boris Godunov (1986)                                   2.220446e-16
Space (1985)                                           2.220446e-16
Boy in Blue, The (1986)                                2.220446e-16
Playing for Time (1980)                                2.220446e-16
Hide in Plain Sight (1980)                             2.220446e-16
Hail Mary ('Je vous salue, Marie') (1985)              2.220446e-16
Lost Angels (1989)                                     2.220446e-16
Name: Just Between Friends (1986), dtype: float64


Seven Girlfriends (1999)

title
Scene at the Sea, A (Ano natsu, ichiban shizukana umi) (1991)    0.0
My Sons (Musuko) (1991)                                          0.0
Two Ninas (1999)                                                 0.0
The Cyclone (1996)                                               0.0
Bar Girls (1994)                                                 0.0
Souler Opposite, The (1998)                                      0.0
Dog Park (1998)                                                  0.0
Western (1997)                                                   0.0
Seventh Heaven (1993)                                            0.0
Night We Never Met, The (1993)                                   0.0
Name: Seven Girlfriends (1999), dtype: float64


Small Circle of Friends, A (1980)

title
The Diary of Anne Frank (1980)                         2.220446e-16
Reunion (1989)                                         2.220446e-16
Butterfly (1982)                                       2.220446e-16
Boris Godunov (1986)                                   2.220446e-16
Space (1985)                                           2.220446e-16
Boy in Blue, The (1986)                                2.220446e-16
Playing for Time (1980)                                2.220446e-16
Hide in Plain Sight (1980)                             2.220446e-16
Hail Mary ('Je vous salue, Marie') (1985)              2.220446e-16
Aviator's Wife, The (La femme de l'aviateur) (1981)    2.220446e-16
Name: Small Circle of Friends, A (1980), dtype: float64


Amongst Friends (1993)

title
Short Sharp Shock (Kurz und schmerzlos) (1998)     0.0
Thick as Thieves (1999)                            0.0
Clean, Shaven (1993)                               0.0
Blues Harp (1998)                                  0.0
Amongst Friends (1993)                             0.0
Rainy Dog (Gokudô kuroshakai) (1997)               0.0
Ruby (1992)                                        0.0
Bang (1995)                                        0.0
She Cried No (Freshman Fall) (1996)                0.0
Dillinger and Capone (1995)                        0.0
Name: Amongst Friends (1993), dtype: float64


My Friends (Amici miei) (1975)

title
Harry and Walter Go to New York (1976)                   2.220446e-16
Between Miracles (1972)                                  2.220446e-16
Pom Pom Girls, The (1976)                                2.220446e-16
Rejs (1970)                                              2.220446e-16
Delusions of Grandeur (La folie des grandeurs) (1971)    2.220446e-16
World's Greatest Lover, The (1977)                       2.220446e-16
Charleston (1977)                                        2.220446e-16
Tenderness (Hellyys) (1972)                              2.220446e-16
Confessions of a Driving Instructor (1976)               2.220446e-16
Lady Liberty (1971)                                      2.220446e-16
Name: My Friends (Amici miei) (1975), dtype: float64


Just Friends (2005)

title
It's a Boy Girl Thing (2006)    0.102106
Whatever It Takes (2000)        0.105916
Girl Next Door, The (2004)      0.106777
John Tucker Must Die (2006)     0.116145
Get Over It (2001)              0.127028
House Bunny, The (2008)         0.130123
17 Again (2009)                 0.132837
She's the Man (2006)            0.133870
New Guy, The (2002)             0.135095
Along Came Polly (2004)         0.138904
Name: Just Friends (2005), dtype: float64


Dinner with Friends (2001)

title
Last Kiss, The (2006)           0.168890
Sidewalks of New York (2001)    0.168964
Brothers, The (2001)            0.171910
Upside of Anger, The (2005)     0.173051
Friends with Money (2006)       0.175222
P.S. (2004)                     0.176016
Enough Said (2013)              0.178540
Husbands and Wives (1992)       0.179995
In Good Company (2004)          0.182029
Melvin Goes to Dinner (2003)    0.183346
Name: Dinner with Friends (2001), dtype: float64


Friends with Money (2006)

title
Walking and Talking (1996)       0.128994
Sideways (2004)                  0.134227
Lovely & Amazing (2001)          0.143375
Smart People (2008)              0.144757
Anniversary Party, The (2001)    0.145141
Good Girl, The (2002)            0.145295
Drinking Buddies (2013)          0.148253
Greenberg (2010)                 0.148361
Anything Else (2003)             0.151548
Chuck & Buck (2000)              0.152425
Name: Friends with Money (2006), dtype: float64


American Friends (1991)

title
Leather Jacket Love Story (1997)                                          0.0
Diamond Girl (1998)                                                       0.0
Temptation (Tentação) (1997)                                              0.0
Parallel Sons (1995)                                                      0.0
First Love, Last Rites (1997)                                             0.0
I Don't Want to Talk About It (De eso no se habla) (1993)                 0.0
La discrète (1990)                                                        0.0
And Nobody Weeps for Me (Und keiner weint mir nach) (1996)                0.0
Endless Love (1993)                                                       0.0
Brighter Summer Day, A (Gu ling jie shao nian sha ren shi jian) (1991)    0.0
Name: American Friends (1991), dtype: float64


Friend Among Strangers, Stranger Among Friends (Svoy sredi chuzhikh, chuzhoy sredi svoikh) (1974)

title
Friend Among Strangers, Stranger Among Friends (Svoy sredi chuzhikh, chuzhoy sredi svoikh) (1974)    0.000000
I Will Fight No More Forever (1975)                                                                  0.105573
Wild Women (1970)                                                                                    0.133975
The Great Northfield Minnesota Raid (1972)                                                           0.133975
Springfield Rifle (1952)                                                                             0.250000
Hunting Party, The (1971)                                                                            0.250000
Keoma (1976)                                                                                         0.250000
Now Where Did the Seventh Company Get to? (Mais où est donc passée la 7ème compagnie) (1973)         0.250000
Man of the East (1972)                                                                               0.250000
Ned Kelly (1970)                                                                                     0.250000
Name: Friend Among Strangers, Stranger Among Friends (Svoy sredi chuzhikh, chuzhoy sredi svoikh) (1974), dtype: float64


How to Lose Friends & Alienate People (2008)

title
Screwed (2000)                 0.131241
Whipped (2000)                 0.136380
Hollywood Ending (2002)        0.140138
Pauly Shore Is Dead (2003)     0.141790
Run Fatboy Run (2007)          0.144817
Ex, The (2007)                 0.145769
Town & Country (2001)          0.146154
Semi-Pro (2008)                0.150355
Lucky Numbers (2000)           0.150837
Slammin' Salmon, The (2009)    0.152369
Name: How to Lose Friends & Alienate People (2008), dtype: float64


Ghosts of Girlfriends Past (2009)

title
Made of Honor (2008)                   0.094413
Failure to Launch (2006)               0.095262
How to Lose a Guy in 10 Days (2003)    0.095891
27 Dresses (2008)                      0.099078
Monster-in-Law (2005)                  0.107867
Wedding Date, The (2005)               0.109900
Wedding Planner, The (2001)            0.110846
Just Like Heaven (2005)                0.111452
Ugly Truth, The (2009)                 0.111590
Bride Wars (2009)                      0.114557
Name: Ghosts of Girlfriends Past (2009), dtype: float64


Boyfriends and Girlfriends (a.k.a. My Girlfriend's Boyfriend) (L'ami de mon amie) (1987)

title
Funeral, The (Ososhiki) (1984)                                           2.220446e-16
Loaf and Camouflage (1984)                                               2.220446e-16
Fun is Beautiful (1980)                                                  2.220446e-16
Joysticks (1983)                                                         2.220446e-16
Konopielka (1982)                                                        2.220446e-16
Lauderdale (a.k.a. Spring Break USA) (a.k.a. Spring Fever USA) (1989)    2.220446e-16
The Fountain (1989)                                                      2.220446e-16
Buddy Buddy (1981)                                                       2.220446e-16
Kiss Me Goodbye (1982)                                                   2.220446e-16
Plot Against Harry, The (1989)                                           2.220446e-16
Name: Boyfriends and Girlfriends (a.k.a. My Girlfriend's Boyfriend) (L'ami de mon amie) (1987), dtype: float64


Friends of Eddie Coyle, The (1973)

title
Outrage (1973)                                                   0.0
Female Prisoner #701: Scorpion (Joshuu 701-gô: Sasori) (1972)    0.0
Organization, The (1971)                                         0.0
Violette (Violette Nozière) (1978)                               0.0
Executioner, The (Massacre Mafia Style) (1978)                   0.0
Silent Partner, The (1978)                                       0.0
Laughing Policeman, The (1973)                                   0.0
Visitors, The (1972)                                             0.0
Friends of Eddie Coyle, The (1973)                               0.0
Helter Skelter (1976)                                            0.0
Name: Friends of Eddie Coyle, The (1973), dtype: float64


Friendship! (2010)

title
Tracy Morgan: Black and Blue (2010)         2.220446e-16
Corner Gas: The Movie (2014)                2.220446e-16
Klown: The Movie (Klovn) (2010)             2.220446e-16
Mission London (2010)                       2.220446e-16
Senotaji (2013)                             2.220446e-16
Vuonna 85 (2013)                            2.220446e-16
How to Meet Girls from a Distance (2012)    2.220446e-16
Let's Kill Ward's Wife (2014)               2.220446e-16
Inquire Within (2012)                       2.220446e-16
A Merry Friggin' Christmas (2014)           2.220446e-16
Name: Friendship! (2010), dtype: float64


Girlfriends, The (Le amiche) (1955)

title
Misérables, Les (1952)                         0.0
Susana (Devil and the Flesh, The) (1951)       0.0
Journey, The (1959)                            0.0
Virgin Queen, The (1955)                       0.0
Tale of Two Cities, A (1958)                   0.0
Summer Interlude (Sommarlek) (1951)            0.0
All Mine to Give (1957)                        0.0
Woman Obsessed (1959)                          0.0
Blue Week (Sininen viikko) (1954)              0.0
Torments (El) (This Strange Passion) (1953)    0.0
Name: Girlfriends, The (Le amiche) (1955), dtype: float64


Passionate Friends, The (a.k.a. One Woman's Story) (1949)

title
Ivan the Terrible, Part One (Ivan Groznyy I) (1944)      2.220446e-16
Dispatch from Reuter's, A (1940)                         2.220446e-16
Mortal Storm, The (1940)                                 2.220446e-16
Fighting Sullivans, The (Sullivans, The) (1944)          2.220446e-16
Women of the Night (Yoru no onnatachi) (1948)            2.220446e-16
The Army (1944)                                          2.220446e-16
Weird Woman (1944)                                       2.220446e-16
Edward, My Son (1949)                                    2.220446e-16
Along the Sungari River (Song hua jiang shang) (1947)    2.220446e-16
Proud Valley, The (1940)                                 2.220446e-16
Name: Passionate Friends, The (a.k.a. One Woman's Story) (1949), dtype: float64


Friends with Benefits (2011)

title
No Strings Attached (2011)           0.052470
That Awkward Moment (2014)           0.093587
What's Your Number? (2011)           0.105877
Two Night Stand (2014)               0.112520
Valentine's Day (2010)               0.116360
She's Out of My League (2010)        0.118805
Love and Other Drugs (2010)          0.120246
Sleeping with Other People (2015)    0.123142
Going the Distance (2010)            0.131885
Hitch (2005)                         0.135116
Name: Friends with Benefits (2011), dtype: float64


Friends with Kids (2011)

title
Celeste and Jesse Forever (Celeste & Jesse Forever) (2012)    0.131539
Enough Said (2013)                                            0.137763
Five-Year Engagement, The (2012)                              0.148710
Going the Distance (2010)                                     0.162830
Crazy, Stupid, Love. (2011)                                   0.164057
Happythankyoumoreplease (2010)                                0.169952
Love and Other Drugs (2010)                                   0.172260
Sidewalks of New York (2001)                                  0.172266
Last Kiss, The (2006)                                         0.172902
That Awkward Moment (2014)                                    0.173815
Name: Friends with Kids (2011), dtype: float64


Just Friends? (2010)

title
Pursuit of Unhappiness, The (Anleitung zum Unglücklichsein) (2012)    2.220446e-16
Flying Home (2014)                                                    2.220446e-16
Recipe for Love (2014)                                                2.220446e-16
City Slacker (2012)                                                   2.220446e-16
Love and Lemons (Små citroner gula) (2013)                            2.220446e-16
Don't Go Breaking My Heart (Daan gyun naam yu) (2011)                 2.220446e-16
Hawaii (2013)                                                         2.220446e-16
A Christmas Kiss (2011)                                               2.220446e-16
Paradise (2013)                                                       2.220446e-16
35 and Ticking (2011)                                                 2.220446e-16
Name: Just Friends? (2010), dtype: float64


This Special Friendship (Les amitiés particulières) (1964)

title
Baby, the Rain Must Fall (1965)                                     2.220446e-16
Ladybug Ladybug (1963)                                              2.220446e-16
Profound Desires of the Gods (Kamigami no fukaki yokubo) (1968)     2.220446e-16
Arrangement, The (1969)                                             2.220446e-16
Hostile Witness (1968)                                              2.220446e-16
Gypsy Moths, The (1969)                                             2.220446e-16
Model Shop (1969)                                                   2.220446e-16
Where Love Has Gone (1964)                                          2.220446e-16
Cow, The (Gaav) (1969)                                              2.220446e-16
L'enfance nue (Naked Childhood) (1968)                              2.220446e-16
Name: This Special Friendship (Les amitiés particulières) (1964), dtype: float64


Friends at the Margherita Cafe, The (Gli amici del bar Margherita) (2009)

title
Falling Up (2009)                      0.0
Sundome (2007)                         0.0
Scenes of a Sexual Nature (2006)       0.0
This Christmas (2007)                  0.0
Luster (2002)                          0.0
Itty Bitty Titty Committee (2007)      0.0
Secret Sunshine (Milyang) (2007)       0.0
Monday Morning (Lundi matin) (2002)    0.0
Treatment, The (2006)                  0.0
A Matter of Size (2009)                0.0
Name: Friends at the Margherita Cafe, The (Gli amici del bar Margherita) (2009), dtype: float64


Ex-Girlfriends (2012)

title
Dream Team 1935 (2012)                           0.0
Zero Motivation (Efes beyahasei enosh) (2014)    0.0
Goodbye to All That (2014)                       0.0
Bad Family (Paha Perhe) (2010)                   0.0
C.O.G. (2013)                                    0.0
Tyler Perry's A Madea Christmas (2013)           0.0
Days and Nights (2014)                           0.0
Fred & Vinnie (2011)                             0.0
Daayen Ya Baayen (2010)                          0.0
Miracle in Cell No. 7 (2013)                     0.0
Name: Ex-Girlfriends (2012), dtype: float64


My Last Five Girlfriends (2009)

title
Bambou (2009)                                                                      2.220446e-16
Leaning Tower, The (Kalteva torni) (2006)                                          2.220446e-16
Escuela de seducción (2004)                                                        2.220446e-16
Frank McKlusky, C.I. (2002)                                                        2.220446e-16
Ten Shrews, The (Kymmenen riivinrautaa) (2002)                                     2.220446e-16
Sexo, Amor e Traição (2004)                                                        2.220446e-16
Dating Games People Play (2005)                                                    2.220446e-16
Ratko: The Dictator's Son (National Lampoon's Ratko: The Dictator's Son) (2009)    2.220446e-16
Rock, Paper, Scissors: The Way of the Tosser (2007)                                2.220446e-16
Cookout, The (2004)                                                                2.220446e-16
Name: My Last Five Girlfriends (2009), dtype: float64


Color of Friendship, The (2000)

title
Marie and Bruce (2004)                                                       0.0
Cream Lemon (Kurîmu remon) (2004)                                            0.0
Fuse (Gori vatra) (2003)                                                     0.0
Fine-Tune (2008)                                                             0.0
Boys Life 4: Four Play (2003)                                                0.0
Public Sex (2009)                                                            0.0
Happily Ever After (Ils se marièrent et eurent beaucoup d'enfants) (2004)    0.0
My Wrongs 8245-8249 and 117 (2002)                                           0.0
Chance (2002)                                                                0.0
Vollidiot (2007)                                                             0.0
Name: Color of Friendship, The (2000), dtype: float64


Friends of God: A Road Trip with Alexandra Pelosi (2007)

title
10th Judicial Court: Judicial Hearings, The (10e chambre - Instants d'audience) (2004)    2.220446e-16
Praying with Lior (2008)                                                                  2.220446e-16
Children of Leningradsky, The (2005)                                                      2.220446e-16
Independents (2007)                                                                       2.220446e-16
We Live in Public (2009)                                                                  2.220446e-16
Fitna (2008)                                                                              2.220446e-16
Bar at the Victoria Station, A (Bar na Victorii) (2003)                                   2.220446e-16
Global Metal (2008)                                                                       2.220446e-16
End of America, The (2008)                                                                2.220446e-16
Mindscape of Alan Moore, The (2003)                                                       2.220446e-16
Name: Friends of God: A Road Trip with Alexandra Pelosi (2007), dtype: float64


Such Good Friends (1971)

title
Taking Off (1971)                              0.0
Stay Hungry (1976)                             0.0
Kotch (1971)                                   0.0
Diary of a Mad Housewife (1970)                0.0
Landlord, The (1970)                           0.0
Small Change (Argent de poche, L') (1976)      0.0
Apprenticeship of Duddy Kravitz, The (1974)    0.0
The... Beautiful Country (1977)                0.0
Bed & Board (Domicile conjugal) (1970)         0.0
Sheep Eaters (Lampaansyöjät) (1972)            0.0
Name: Such Good Friends (1971), dtype: float64


Friends, The (Les Amis) (1971)

title
Scarlet Letter, The (Der scharlachrote Buchstabe) (1973)      2.220446e-16
Dupes, The (Al-makhdu'un) (1973)                              2.220446e-16
Den sommeren jeg fylte 15 (1976)                              2.220446e-16
King Lear (Korol Lir) (1971)                                  2.220446e-16
Région centrale, La (1971)                                    2.220446e-16
Rage (1972)                                                   2.220446e-16
Age of the Medici, The (L'età di Cosimo de Medici) (1973)     2.220446e-16
Under the Age (1972)                                          2.220446e-16
The Hallelujah Handshake (1970)                               2.220446e-16
Sovereign's Company (1970)                                    2.220446e-16
Name: Friends, The (Les Amis) (1971), dtype: float64


My Boyfriends' Dogs (2014)

title
I Feel Sleepy (2012)                        2.220446e-16
Corner Gas: The Movie (2014)                2.220446e-16
Klown: The Movie (Klovn) (2010)             2.220446e-16
Mission London (2010)                       2.220446e-16
Senotaji (2013)                             2.220446e-16
Vuonna 85 (2013)                            2.220446e-16
How to Meet Girls from a Distance (2012)    2.220446e-16
Let's Kill Ward's Wife (2014)               2.220446e-16
Inquire Within (2012)                       2.220446e-16
A Merry Friggin' Christmas (2014)           2.220446e-16
Name: My Boyfriends' Dogs (2014), dtype: float64


Against One Another, Virtually Friends (1981)

title
Funeral, The (Ososhiki) (1984)                                           2.220446e-16
They All Laughed (1981)                                                  2.220446e-16
Loaf and Camouflage (1984)                                               2.220446e-16
Fun is Beautiful (1980)                                                  2.220446e-16
Joysticks (1983)                                                         2.220446e-16
Konopielka (1982)                                                        2.220446e-16
Lauderdale (a.k.a. Spring Break USA) (a.k.a. Spring Fever USA) (1989)    2.220446e-16
The Fountain (1989)                                                      2.220446e-16
Buddy Buddy (1981)                                                       2.220446e-16
Kiss Me Goodbye (1982)                                                   2.220446e-16
Name: Against One Another, Virtually Friends (1981), dtype: float64


The Land Before Time XIII: The Wisdom of Friends (2007)

title
Casper's Haunted Christmas (2000)                          0.000000
Playmobil: The Secret of Pirate Island (2009)              0.000000
Clifford's Really Big Movie (2004)                         0.000000
Boundin' (2003)                                            0.000000
The Little Polar Bear: Lars and the Little Tiger (2002)    0.000000
Christmas Carol: The Movie (2001)                          0.000000
Doogal (2006)                                              0.000000
The Land Before Time XIII: The Wisdom of Friends (2007)    0.000000
101 Dalmatians II: Patch's London Adventure (2003)         0.000000
Mickey's Twice Upon a Christmas (2004)                     0.133975
Name: The Land Before Time XIII: The Wisdom of Friends (2007), dtype: float64